        <!-- Pied de page -->
        <footer class="bg-[#2b62aa] text-white text-center text-sm py-4">
                Copyright © BDU Côte d’Ivoire -2025 Tous droits réservés – Powered by <a href="" target="_blank">EMF Technologies</a>, digitale-BDU CI
        </footer>