{% extends 'front/layout.html.twig' %}

{% block title "Charte graphique" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="max-w-screen-xl mx-auto px-4 mt-6 space-y-16 md:space-y-10 mb-12">
    <!-- Section principale -->
    <section class="">
        <h2 class="text-primary font-semibold text-xl mb-6">Charte graphique</h2>
      
        <div class="bg-blue-100 p-10 md:py-24 rounded-sm grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}